<div class="choose-os-wrapper">
    <img class="cover-img" src="{{backgroundImgUrl}}" alt="background-img">
    <div class="choose-os-content">
        <h3 routerLink="/">Choose the dseign you want</h3>
        <div id="choose-os">
            <div class="win">
                <img src="{{winImgUrl}}" routerLink="/windows-view" alt="windows-logo">
            </div>
            <div class="mac">
                <img src="{{macImgUrl}}" routerLink="/mac-view" alt="mac-logo">
            </div>
        </div>
    </div>
</div>