<div>
    <div class="header">
        <img class="back-btn" src="" alt="">
        <div class="file-path">
            <img class="edit-icon" src="" alt="">
            <div class="path" contenteditable="false"></div>
            <div class="dropdown-arrow">
                <!-- <ul>
                    <li></li>
                </ul> -->
            </div>
            <button class="refresh-btn"></button>
        </div>
        <input type="text" placeholder="Search {{cwd}}"> 
        <!-- after glass icon -->
    </div>
    <div class="content-table">
        <table>
            <th>
                <tr>Name</tr>
                <tr>Date modified</tr>
                <tr>Type</tr>
                <tr>Size</tr>
            </th>
            
        </table>
    </div>
</div>