<div id="windows-view">
    <div class="header flex-horizontal">
        <img class="back-btn icon" src="{{backArrowIconUrl}}" alt="back-button" (click)="changeRoot(oldRootDir)">
        <div class="file-path">
            <img class="edit-icon icon" src="{{folderIconUrl}}" alt="edit-icon">
            <div class="path" contenteditable="false"></div>
            <button class="refresh-btn"></button>
        </div>
        <input type="text" placeholder="Search {{cwd}}">
        <!-- after glass icon -->
    </div>
    <div class="content-table">
        <table>
            <tr>
                <th (click)="sortByFieldName('name')">Name</th>
                <th (click)="sortByFieldName('modificationDate')">Date modified</th>
                <th (click)="sortByFieldName('type')">Type</th>
                <th (click)="sortByFieldName('size')">Size</th>
            </tr>
            <!-- {{rootDir}} -->
            <!-- {{foldersWithContent}} -->
            <ng-container  *ngFor="let path of foldersWithContent" class="tbody-wrapper">
                <!-- {{path}} -->
                <tr *ngFor="let el of path[rootDir]" (dblclick)="changeRoot(el)">
                    <!-- {{el}} -->
                    <!-- <tr *ngIf="path.path[folderIndex] !== el" (dblclick)="defineFileType()"> -->
                    <td *ngIf="detailedList[el].type == 'folder'; else elseBlock" class="folder-icon">
                        <!-- {{path.path[folderIndex]}} -->
                        {{detailedList[el].details.name}}
                    </td>
                    <ng-template #elseBlock>
                        <td class="file-icon">
                            {{detailedList[el].details.name}}
                        </td>
                    </ng-template>
                    <td>{{detailedList[el].modificationDate}}</td>
                    <td>{{detailedList[el].type}}</td>
                    <td>{{detailedList[el].size}}</td>
                </tr>
            </ng-container>
        </table>
    </div>
</div>