<button routerLink="/">Back</button>
<div id="windows-view">
    <div class="header flex-horizontal">
        <img class="back-btn icon" src="{{backArrowIconUrl}}" alt="back-button" (click)="changeRoot(oldRootDir)">
        <div class="file-path flex-horizontal">
            <img class="edit-icon icon" src="{{folderIconUrl}}" alt="edit-icon">
            <div class="path" contenteditable="false">{{detailedList[rootDir].path}}</div>
            <img class="refresh-btn" src="{{refreshIconUrl}}" alt="refresh-icon" (click)="refresh()">
        </div>
        <input type="text" 
                placeholder="Search {{rootDir}}"
                name="searchable" 
                [(ngModel)]="searchable"
                (keyup.enter)="search()"
                >
    </div>
    <div class="content-table">
        <table>
            <tr>
                <th (click)="sortByFieldName('name')">Name</th>
                <th (click)="sortByFieldName('modificationDate')">Date modified</th>
                <th (click)="sortByFieldName('type')">Type</th>
                <th (click)="sortByFieldName('size')">Size</th>
            </tr>
            <ng-container  *ngFor="let path of foldersWithContent" class="tbody-wrapper">
                <tr *ngFor="let el of path[rootDir]" (dblclick)="changeRoot(el)">
                    <td *ngIf="detailedList[el].type == 'folder'; else elseBlock" class="folder-icon">
                        {{detailedList[el].details.name}}
                    </td>
                    <ng-template #elseBlock>
                        <td class="file-icon">
                            {{detailedList[el].details.name}}
                        </td>
                    </ng-template>
                    <td>{{detailedList[el].modificationDate}}</td>
                    <td>{{detailedList[el].type}}</td>
                    <td>{{detailedList[el].size}}</td>
                </tr>
            </ng-container>
        </table>
        <div class="search-result" [class.visible]="isSearching">
            <ul *ngFor="let result of searchResutls" class="flex-horizontal">
                <li class="flex-horizontal">
                    <p>Path: {{result.path}}  last modified at: {{result.modificationDate}}</p>
                </li>
            </ul>
            <button (click)="isSearching = false">Back to folder</button>
        </div>
    </div>
</div>